In [1]:
import pandapower.networks as pn
from pandapower.plotting import simple_plot

import os
import numpy as np
import pandas as pd
import tempfile
import pandapower as pp
from pandapower.control import ConstControl
from pandapower.timeseries import DFData
from pandapower.timeseries import OutputWriter
from pandapower.timeseries.run_time_series import run_timeseries
import pandapower.networks as pn
import matplotlib.pyplot as plt

import simbench as sb
import random
# Pandapower tutorials
# https://www.pandapower.org/start/#interactive-tutorials-

In [11]:
x = pd.DataFrame([1,2])
y = pd.DataFrame([[2,3], [5,6]])
y[1] = x[0]
y

   0  1
0  2  1
1  5  2

In [2]:
net = pn.case30()

In [6]:
net.load['p_mw'].sum()

189.19999999999996

In [15]:
x[0] = 0
y

   0  1
0  2  1
1  5  2

In [2]:
import gym
from gym import spaces

In [3]:
space1 = spaces.Discrete(24)
space2 = spaces.Box(-1., 1., shape=(30, 5), dtype=np.float32)
space3 = spaces.Box(0., np.inf, shape=(30,), dtype=np.float32)
space = spaces.Tuple((space1, space2, space3))
space4 = spaces.Box(low=0., high=1., shape=(30,))

/home/yixuan/anaconda3/envs/py3_7_spinningup/lib/python3.7/site-packages/gym/logger.py:30: UserWarning: WARN: Box bound precision lowered by casting to float32
  warnings.warn(colorize('%s: %s'%('WARN', msg % args), 'yellow'))

In [4]:
   # space1 = spaces.Discrete(24)
        # space2 = spaces.Box(-1., 1., shape=(net.bus.shape[0], 5), dtype=np.float32)
        # space3 = spaces.Box(0., np.inf, shape=(net.bus.shape[0],), dtype=np.float32)
        # self.observation_space = spaces.Tuple((space1, space2, space3))

In [5]:
x = np.empty([2,])
x.fill(np.inf)

In [6]:
x

array([inf, inf])

In [7]:
Q_C_high = np.empty(net.bus.shape[0])
Q_C_high.fill(np.inf)
spaces.Box(
low = np.concatenate(([0], np.zeros(net.bus.shape[0] * 6))), \
high = np.concatenate(([0], np.ones((net.bus.shape[0] * 5,), dtype=np.float32), Q_C_high))
, )

NameError: name 'net' is not defined

In [ ]:

# 定义成本函数
def compute_gen_cost(net):
    """
    This function computes the total generation cost.
    ***Parameter***:
    poly_cost: net.poly_cost
    res_gen: net.res_gen
    ***return***:
    cost: The first element is ext_grid_cost, The left are gen_cost.
    """
    
    res1 = net.poly_cost[net.poly_cost['et'] == 'gen'][['element', 'cp2_eur_per_mw2']].astype({'element': int}).set_index('element')['cp2_eur_per_mw2'] * net.res_gen['p_mw'] ** 2 + \
    net.poly_cost[net.poly_cost['et'] == 'gen'][['element', 'cp1_eur_per_mw']].astype({'element': int}).set_index('element')['cp1_eur_per_mw'] * net.res_gen['p_mw'] + \
    net.poly_cost[net.poly_cost['et'] == 'gen'][['element', 'cp0_eur']].astype({'element': int}).set_index('element')['cp0_eur']
    
    res2 = net.poly_cost[net.poly_cost['et'] == 'ext_grid'][['element', 'cp2_eur_per_mw2']].astype({'element': int}).set_index('element')['cp2_eur_per_mw2'] * net.res_ext_grid['p_mw'] ** 2 + \
    net.poly_cost[net.poly_cost['et'] == 'ext_grid'][['element', 'cp1_eur_per_mw']].astype({'element': int}).set_index('element')['cp1_eur_per_mw'] * net.res_ext_grid['p_mw']
    
    if net.res_ext_grid['p_mw'].values[0] < 0:
        print('The external grid absorbs power.')
        res2.iloc[0] = 0
        
    return res2.append(res1)
    

compute_gen_cost(net)

In [ ]:
net.res_ext_grid.index.values

In [2]:
# 读取IEEE 30节点系统作为网架结构
net = pn.case30()
pp.runpp(net)

In [5]:
net.load

,bus,const_i_percent,const_z_percent,controllable,in_service,name,p_mw,q_mvar,scaling,sn_mva,type
0,1,0.0,0.0,False,True,None,21.7,12.7,1.0,NaN,None
1,2,0.0,0.0,False,True,None,2.4,1.2,1.0,NaN,None
10,16,0.0,0.0,False,True,None,9.0,5.8,1.0,NaN,None
11,17,0.0,0.0,False,True,None,3.2,0.9,1.0,NaN,None
12,18,0.0,0.0,False,True,None,9.5,3.4,1.0,NaN,None
13,19,0.0,0.0,False,True,None,2.2,0.7,1.0,NaN,None
14,20,0.0,0.0,False,True,None,17.5,11.2,1.0,NaN,None
15,22,0.0,0.0,False,True,None,3.2,1.6,1.0,NaN,None
16,23,0.0,0.0,False,True,None,8.7,6.7,1.0,NaN,None
17,25,0.0,0.0,False,True,None,3.5,2.3,1.0,NaN,None
18,28,0.0,0.0,False,True,None,2.4,0.9,1.0,NaN,None
19,29,0.0,0.0,False,True,None,10.6,1.9,1.0,NaN,None
2,3,0.0,0.0,False,True,None,7.6,1.6,1.0,NaN,None
3,6,0.0,0.0,False,True,None,22.8,10.9,1.0,NaN,None
4,7,0.0,0.0,False,True,None,30.0,30.0,1.0,NaN,None
5,9,0.0,0.0,False,True,None,5.8,2.0,1.0,NaN,None
6,11,0.0,0.0,False,True,None,11.2,7.5,1.0,NaN,None
7,13,0.0,0.0,False,True,None,6.2,1.6,1.0,NaN,None
8,14,0.0,0.0,False,True,None,8.2,2.5,1.0,NaN,None
9,15,0.0,0.0,False,True,None,3.5,1.8,1.0,NaN,None

In [26]:
net.poly_cost.loc[0, 'cp1_eur_per_mw'] = 8
net.poly_cost.loc[0, 'cp2_eur_per_mw2'] = 0.1
net.poly_cost

,element,et,cp0_eur,cp1_eur_per_mw,cp2_eur_per_mw2,cq0_eur,cq1_eur_per_mvar,cq2_eur_per_mvar2,"(0, cp1_eur_per_mw)"
0,0.0,ext_grid,0.0,8.00,0.10000,0.0,0.0,0.0,8
1,0.0,gen,0.0,1.75,0.01750,0.0,0.0,0.0,8
2,1.0,gen,0.0,1.00,0.06250,0.0,0.0,0.0,8
3,2.0,gen,0.0,3.25,0.00834,0.0,0.0,0.0,8
4,3.0,gen,0.0,3.00,0.02500,0.0,0.0,0.0,8
5,4.0,gen,0.0,3.00,0.02500,0.0,0.0,0.0,8

In [ ]:
sb_code = '1-complete_data-mixed-all-2-sw'
data_net = sb.get_simbench_net(sb_code)
net.profiles = data_net.profiles

In [ ]:
# produce random load profiles...
profile_names = net.profiles['load'].columns.tolist()[1:]
valid_profile_names = []
for name in profile_names:
    if name[-5] == 'p' and len(name) <= 14:
        valid_profile_names.append(name[:-6])
load_profiles = random.choices(valid_profile_names, k=net.load.shape[0])
load_profiles

In [ ]:
net.load['profile'] = load_profiles

In [ ]:
# 定义绘图函数
def plot_with_DER(net):
    fig, ax = plt.subplots(figsize=[12,8])
    ax.scatter(net.bus_geodata.loc[net.gen['bus']]['x'], net.bus_geodata.loc[net.gen['bus']]['y']+0.15, s=200, c='r', marker='*')
    simple_plot(net, plot_loads=True, ax=ax)
    ax.legend()
plot_with_DER(net)

In [ ]:
# Randomly add DERs...

WIND_CAPACITY = 200
PV_CAPACITY = 15
wind_num = random.choice([1, 2])
pv_num = random.choice(range(2,9))
wind_poses = np.random.choice(net.bus.index.tolist(), size=wind_num, replace=False)
pv_poses = np.random.choice(net.bus.index.tolist(), size=pv_num, replace=False)

for wind_pos in wind_poses:
    pp.create_sgen(net, wind_pos, max(0, WIND_CAPACITY + np.random.normal(scale=50)), type='Wind_MV')
for pv_pos in pv_poses:
    pp.create_sgen(net, pv_pos, max(0, PV_CAPACITY + np.random.normal(scale=5)), type='PV_MV')
    
# Allocate profiles for DERs...

valid_wind_names = []
valid_pv_names = []
for name in net.profiles['renewables'].columns.to_list():
    if name[:2] == 'PV':
        valid_pv_names.append(name)
    elif name[:2] == 'WP':
        valid_wind_names.append(name)
        
wind_profiles = random.choices(valid_wind_names, k=wind_num)
pv_profiles = random.choices(valid_pv_names, k=pv_num)
net.sgen.loc[net.sgen['type'] == 'Wind_MV', 'profile'] = wind_profiles
net.sgen.loc[net.sgen['type'] == 'PV_MV', 'profile'] = pv_profiles

# Randomly add redispatchable generations...

NEW_GEN_CAPACITY = 25
new_gen_num = random.choice(range(2, 6))
available_poses = list(set(net.bus.index.tolist()) - set(net.gen.bus.tolist()))
new_gen_poses = np.random.choice(available_poses, size=new_gen_num, replace=False)
for gen_pos in new_gen_poses:
    maximum_gen = max(0, NEW_GEN_CAPACITY + np.random.normal(scale=5))
    pp.create_gen(net, gen_pos, maximum_gen, max_p_mw=maximum_gen, min_p_mw=0)
    current_idx = max(net.gen.index)
    pp.create_poly_cost(net, current_idx, et='gen', cp1_eur_per_mw=2.5, cp2_eur_per_mw2=0.0175)

In [ ]:
net.sgen.loc[net.sgen['type'] == 'Wind_MV', 'profile'] = wind_profiles
net.sgen.loc[net.sgen['type'] == 'PV_MV', 'profile'] = pv_profiles

In [ ]:
day_of_year = random.choice(range(366))
absolute_profiles_load = sb.get_absolute_profiles_from_relative_profiles(net, 'load', 'p_mw').iloc[
            list(range(day_of_year * 96, day_of_year * 96 + 96, 4))]
absolute_profiles_load

In [ ]:
net['load']['p_mw'] = absolute_profiles_load.iloc[0]

In [ ]:
# define a function to apply absolute values
            
def apply_absolute_values(net, absolute_values_dict, time_step):
    for element, this_profile in absolute_values_dict.items():
        net[element]['p_mw'] = this_profile.iloc[time_step]

In [ ]:
pp.runpp(net)

In [ ]:
compute_gen_cost(net)